<ion-app>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Págia principal</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Aplicación de prueba</ion-card-subtitle>
                <ion-card-title>Bienvenido</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Aplicación elaborada en Ionic y PHP, haciendo uso de api rest para la comunicación con el backend.
                <p>Construida con cordova</p>
            </ion-card-content>
        </ion-card>
    </ion-content>
</ion-app>